#define actor				1001
#define floor				1006
#define background			1007
#define number_0			1008
#define number_1			1009
#define number_2			1010
#define number_3			1011
#define number_4			1012
#define number_5			1013
#define number_6			1014
#define number_7			1015
#define number_8			1016
#define number_9			1017
#define actor2				1018
#define a				1019
#define b				1020
#define c				1021
#define d				1022
#define e				1023
#define x				1024
#define y				1025
#define actor3				1026
#define actor4				1027
floor			BITMAP    DISCARDABLE "Res/floor.bmp"
background		BITMAP    DISCARDABLE "Res/background.bmp"
number_0		ICON      DISCARDABLE "Res/Number_000.ico"
number_1		ICON      DISCARDABLE "Res/Number_001.ico"
number_2		ICON      DISCARDABLE "Res/Number_002.ico"
number_3		ICON      DISCARDABLE "Res/Number_003.ico"
number_4		ICON      DISCARDABLE "Res/Number_004.ico"
number_5		ICON      DISCARDABLE "Res/Number_005.ico"
number_6		ICON      DISCARDABLE "Res/Number_006.ico"
number_7		ICON      DISCARDABLE "Res/Number_007.ico"
number_8		ICON      DISCARDABLE "Res/Number_008.ico"
number_9		ICON      DISCARDABLE "Res/Number_009.ico"
actor			ICON      DISCARDABLE "Res/run1.ico"
actor2			ICON      DISCARDABLE "Res/run2.ico"
actor3			ICON      DISCARDABLE "Res/lie.ico"
actor4			ICON      DISCARDABLE "Res/jump.ico"
a			ICON      DISCARDABLE "Res/a.ico"
b			ICON      DISCARDABLE "Res/b.ico"
c			ICON      DISCARDABLE "Res/c.ico"
d			ICON      DISCARDABLE "Res/d.ico"
e			ICON      DISCARDABLE "Res/e.ico"
x			ICON      DISCARDABLE "Res/cactus.ico"
y			ICON      DISCARDABLE "Res/ie.ico"
