#define background			1007
#define actor				1001
#define floor				1006
#define number_0			1008
#define number_1			1009
#define number_2			1010
#define number_3			1011
#define number_4			1012
#define number_5			1013
#define number_6			1014
#define number_7			1015
#define number_8			1016
#define number_9			1017
#define actor2				1018
#define a				1019
#define b				1020
#define c				1021
#define d				1022
#define e				1023
#define x				1024
#define y				1025
#define actor3				1026
#define actor4				1027
#define figure1				1050
#define figure2				1051
#define figure3				1052
#define figure4				1053
#define arrow				1055
#define actor2_run1			1061
#define actor2_run2			1062
#define actor2_jump			1063
#define actor2_lie			1064
#define actor3_run1			1071
#define actor3_run2			1072
#define actor3_jump			1073
#define actor3_lie			1074
#define index_bg			1080
background		BITMAP    DISCARDABLE "Res/background.bmp"
actor			ICON      DISCARDABLE "Res/run1.ico"
floor			BITMAP    DISCARDABLE "Res/floor.bmp"
number_0		ICON      DISCARDABLE "Res/Number_000.ico"
number_1		ICON      DISCARDABLE "Res/Number_001.ico"
number_2		ICON      DISCARDABLE "Res/Number_002.ico"
number_3		ICON      DISCARDABLE "Res/Number_003.ico"
number_4		ICON      DISCARDABLE "Res/Number_004.ico"
number_5		ICON      DISCARDABLE "Res/Number_005.ico"
number_6		ICON      DISCARDABLE "Res/Number_006.ico"
number_7		ICON      DISCARDABLE "Res/Number_007.ico"
number_8		ICON      DISCARDABLE "Res/Number_008.ico"
number_9		ICON      DISCARDABLE "Res/Number_009.ico"
actor2			ICON      DISCARDABLE "Res/run2.ico"
a			ICON      DISCARDABLE "Res/a.ico"
b			ICON      DISCARDABLE "Res/b.ico"
c			ICON      DISCARDABLE "Res/c.ico"
d			ICON      DISCARDABLE "Res/d.ico"
e			ICON      DISCARDABLE "Res/e.ico"
x			ICON      DISCARDABLE "Res/cactus.ico"
y			ICON      DISCARDABLE "Res/ie.ico"
actor3			ICON      DISCARDABLE "Res/lie.ico"
actor4			ICON      DISCARDABLE "Res/jump.ico"
figure1			ICON      DISCARDABLE "Res/actors/actor1.ico"
figure2			ICON      DISCARDABLE "Res/actors/actor2.ico"
figure3			ICON      DISCARDABLE "Res/actors/actor3.ico"
figure4			ICON      DISCARDABLE "Res/actors/actor4.ico"
arrow			ICON      DISCARDABLE "Res/arrow.ico"
actor2_run1		ICON      DISCARDABLE "Res/actors/run2_1.ico"
actor2_run2		ICON      DISCARDABLE "Res/actors/run2_2.ico"
actor2_jump		ICON      DISCARDABLE "Res/actors/jump2.ico"
actor2_lie		ICON      DISCARDABLE "Res/actors/lie2.ico"
actor3_run1		ICON      DISCARDABLE "Res/actors/run3_1.ico"
actor3_run2		ICON      DISCARDABLE "Res/actors/run3_2.ico"
actor3_jump		ICON      DISCARDABLE "Res/actors/jump3.ico"
actor3_lie		ICON      DISCARDABLE "Res/actors/lie3.ico"
index_bg		ICON      DISCARDABLE "Res/indexbg.ico"
